In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import urllib
#import time
#from pygeocoder import Geocoder

%matplotlib inline

In [21]:
#calls = pd.read_csv('../Project/Data/911_calls_for_service.csv',index_col='callDateTime',parse_dates=True)
calls = pd.read_csv('../Project/Data/911_calls_for_service.csv')
#calls = calls_full.head(n=10)

In [22]:
calls=calls.drop('Unnamed: 0',axis=1)

In [23]:
type(calls.index)

pandas.core.indexes.range.RangeIndex

In [24]:
calls.head()

,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
1,2015-07-13 10:47:00,Medium,CD,911/NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)"
2,2015-07-13 10:42:00,Medium,CD,911/NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)"
3,2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)"
4,2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)"

In [25]:
calls.priority.isnull().value_counts()

False    2793259
True        6655
Name: priority, dtype: int64

In [26]:
# Can't analyze repeated calls due to masked numbers.
calls.groupby('callNumber')['callNumber'].count().value_counts()

1    2799914
Name: callNumber, dtype: int64

In [27]:
def set_lat(x):
    try:
        return float(x.split(',')[0][1:])
    except:
        return np.nan
    
def set_lon(x):
    try:
        return float(x.split(',')[1][:-1])
    except:
        return np.nan

In [28]:
calls['lat'] = calls['location'].apply(set_lat)

In [29]:
calls['lon'] = calls['location'].apply(set_lon)

In [30]:
calls[calls.lat.isnull()==True].count()

callDateTime        82532
priority            82532
district            82532
description         82532
callNumber          82532
incidentLocation    82532
location            82532
lat                     0
lon                     0
dtype: int64

In [31]:
calls.loc[calls.lat.isnull()==True,'location'].value_counts()

(,)    82531
(          1
Name: location, dtype: int64

In [16]:
calls.location = calls.location.replace(to_replace='(,)',value=np.nan)

In [28]:
#calls.loc[calls.lat.isnull(),'location'] = calls.loc[calls.lat.isnull(),'incidentLocation']

In [17]:
calls.loc[calls.lat.isnull()==True,'location'].size

82532

In [18]:
calls[(calls.lat.isnull()==True) & (calls.incidentLocation.isnull()==True)]

Empty DataFrame
Columns: [callDateTime, priority, district, description, callNumber, incidentLocation, location, lat, lon]
Index: []

In [31]:
def get_coordinates(addr):
    #addr = '500 N MARTIN LUTHER KING JR BL '

    url = 'https://www.google.ca/maps/place/' + addr.strip().replace(' ','+') + ',+Baltimore'

    response = urllib.request.urlopen(url)

    for x in range(10):
            response.readline()
    data = str(response.readline()).split('],[')[0]
    lat, lon = data.split(',')[1:]
    return '('+lon+','+lat+')'

In [ ]:
%%time
addr = '500 N MARTIN LUTHER KING JR BL '
get_coordinates(addr)

In [32]:
calls.loc[calls.lon.isnull()==True].head()

,callDateTime,priority,district,description,callNumber,incidentLocation,location,lat,lon
462,2015-07-13 13:07:00,Non-Emergency,SD,Repairs/Service,P151941437,ASCIATE,NaN,NaN,NaN
538,2015-07-13 13:34:00,Non-Emergency,CD,Foot Patrol,P151941534,1500-1700BLK PENNS,NaN,NaN,NaN
539,2015-07-13 13:34:00,Non-Emergency,CD,Foot Patrol,P151941535,1500-1700BLK PENNS,NaN,NaN,NaN
751,2015-07-13 14:45:00,Non-Emergency,NW,Repairs/Service,P151941776,LEWIN SUB,NaN,NaN,NaN
1204,2015-07-13 17:20:00,High,SD,Field Interview,P151942362,3100 POTEE ST,NaN,NaN,NaN

In [19]:
calls.head()

,callDateTime,priority,district,description,callNumber,incidentLocation,location,lat,lon
0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)",39.289930,-76.612346
1,2015-07-13 10:47:00,Medium,CD,911/NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)",39.290674,-76.607160
2,2015-07-13 10:42:00,Medium,CD,911/NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)",39.289891,-76.612072
3,2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)",39.298516,-76.618475
4,2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)",39.311213,-76.676315

In [ ]:
#%%time
#calls.loc[calls.lon.isnull()==True,'location'] = calls.loc[calls.lon.isnull()==True,'location'].apply(get_coordinates)

In [34]:
calls_sub=calls.loc[calls.lon.isnull()==True]

In [35]:
calls_sub.loc[:,'location'].size

82532

In [36]:
calls_sub.iloc[0,6]

nan

In [ ]:
#%%time
#for x in range(0,1000):
#    calls_sub.iloc[x,6] = get_coordinates(calls_sub.iloc[x,6])

In [ ]:
calls_sub['lat'] = calls_sub['location'].apply(set_lat)

In [ ]:
calls_sub['lon'] = calls_sub['location'].apply(set_lon)

In [39]:
calls_sub.iloc[0,6]

nan

In [40]:
# original: 82532
# Round1: 82346

In [41]:
calls_sub.loc[calls_sub.lon.isnull()==True,'location'].size

82532

In [ ]:
82532 - 82346