In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import time
import datetime
from pygeocoder import Geocoder

In [2]:
records = 82532
data = pd.DataFrame
list(range(0,records,1000))[-1]

82000

In [3]:
records = 82532
for x in range(0,records,1000):    
    floc = './Adil/Adil_coordinates_'+repr(x)+'_'+repr(x+999)+'.csv'
    if Path(floc).is_file():
        patch = pd.read_csv(floc)
        patch = patch.drop(patch.columns[0],axis=1)
        if data.empty:
            data = patch.copy()
        else:
            data = pd.concat([data,patch])
    
    floc = './Mohammad/Mohammad_Ali_coordinates_'+repr(x)+'_'+repr(x+999)+'.csv'
    if Path(floc).is_file():
        patch = pd.read_csv(floc)
        patch = patch.drop(patch.columns[0],axis=1)
        if data.empty:
            data = patch.copy()
        else:
            data = pd.concat([data,patch])
    
    floc = './Asim/Asim_coordinates_'+repr(x)+'_'+repr(x+999)+'.csv'
    if Path(floc).is_file():
        patch = pd.read_csv(floc)
        patch = patch.drop(patch.columns[0],axis=1)
        if data.empty:
            data = patch.copy()
        else:
            data = pd.concat([data,patch])
#Last Patch            
floc = './Adil/Adil_coordinates_'+repr(x)+'_82531.csv'
if Path(floc).is_file():
    patch = pd.read_csv(floc)
    patch = patch.drop(patch.columns[0],axis=1)
    if data.empty:
        data = patch.copy()
    else:
        data = pd.concat([data,patch])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82532 entries, 0 to 531
Data columns (total 7 columns):
callDateTime        82532 non-null object
priority            82532 non-null object
district            82532 non-null object
description         82532 non-null object
callNumber          82532 non-null object
incidentLocation    82532 non-null object
location            73948 non-null object
dtypes: object(7)
memory usage: 5.0+ MB

In [5]:
print('Success Rate: %.2f' % (data.location[data.location.isnull()==False].size/len(data)*100)
      +'% Total:',data.location[data.location.isnull()==False].size)
print('Missing Rate: %.2f' % (data.location[data.location.isnull()==True].size/len(data)*100)
       +'% Total:',data.location[data.location.isnull()==True].size)

Success Rate: 89.60% Total: 73948
Missing Rate: 10.40% Total: 8584

In [6]:
data.callNumber.is_unique

True

In [7]:
data.reset_index(drop=True, inplace=True);data.head()

,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,7/13/2015 13:07,Non-Emergency,SD,Repairs/Service,P151941437,ASCIATE,"(39.305098, -76.617913)"
1,7/13/2015 13:34,Non-Emergency,CD,Foot Patrol,P151941534,1500-1700BLK PENNS,"(39.3020083, -76.6330399)"
2,7/13/2015 13:34,Non-Emergency,CD,Foot Patrol,P151941535,1500-1700BLK PENNS,"(39.3020083, -76.6330399)"
3,7/13/2015 14:45,Non-Emergency,NW,Repairs/Service,P151941776,LEWIN SUB,"(39.3394972, -76.6789551)"
4,7/13/2015 17:20,High,SD,Field Interview,P151942362,3100 POTEE ST,"(39.2494598, -76.6148733)"

In [8]:
calls = pd.read_csv('./911_calls_for_service.csv')

In [9]:
calls.drop('Unnamed: 0',axis=1, inplace=True)

In [10]:
calls.tail()

,callDateTime,priority,district,description,callNumber,incidentLocation,location
2799909,2017-08-21 11:44:00,Medium,NW,BURGLARY,P172331036,2900 VIOLET AV,"(39.3297550,-76.6624990)"
2799910,2017-08-21 11:44:00,Low,NE,GET BELONGINGS,P172331037,2900 GLENMORE AV,"(39.3571560,-76.5608350)"
2799911,2017-08-21 11:46:00,Medium,CD,JUV DISTURBANCE,P172331039,1000 W NORTH AV,"(39.3104606,-76.6347099)"
2799912,2017-08-21 11:45:00,Medium,ED,COMMON ASSAULT,P172331041,1500 E BIDDLE ST,"(39.3041617,-76.5979135)"
2799913,2017-08-21 11:49:00,Medium,WD,DISORDERLY,P172331043,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [11]:
calls.loc[(calls.location=='(,)') | (calls.location=='(')].count()

callDateTime        82532
priority            82532
district            82532
description         82532
callNumber          82532
incidentLocation    82532
location            82532
dtype: int64

In [12]:
data.count()

callDateTime        82532
priority            82532
district            82532
description         82532
callNumber          82532
incidentLocation    82532
location            73948
dtype: int64

In [13]:
calls.set_index('callNumber',inplace=True)

In [14]:
calls.index.is_unique

True

In [15]:
data.set_index('callNumber',inplace=True)

In [16]:
data.index.is_unique

True

In [17]:
mask = (calls.location=='(,)') | (calls.location=='(')

In [18]:
calls.loc[mask,'location'].count()

82532

In [19]:
data.location.size

82532

In [20]:
data.location.isnull().value_counts()

False    73948
True      8584
Name: location, dtype: int64

In [21]:
calls.loc[mask,'location'] = data.location.values

In [22]:
calls.location.isnull().value_counts()

False    2791330
True        8584
Name: location, dtype: int64

In [23]:
calls.reset_index(inplace=True)

In [24]:
calls.tail()

,callNumber,callDateTime,priority,district,description,incidentLocation,location
2799909,P172331036,2017-08-21 11:44:00,Medium,NW,BURGLARY,2900 VIOLET AV,"(39.3297550,-76.6624990)"
2799910,P172331037,2017-08-21 11:44:00,Low,NE,GET BELONGINGS,2900 GLENMORE AV,"(39.3571560,-76.5608350)"
2799911,P172331039,2017-08-21 11:46:00,Medium,CD,JUV DISTURBANCE,1000 W NORTH AV,"(39.3104606,-76.6347099)"
2799912,P172331041,2017-08-21 11:45:00,Medium,ED,COMMON ASSAULT,1500 E BIDDLE ST,"(39.3041617,-76.5979135)"
2799913,P172331043,2017-08-21 11:49:00,Medium,WD,DISORDERLY,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [25]:
calls.to_csv('../911_calls_for_service_coordinates.csv')

In [26]:
calls = pd.read_csv('../911_calls_for_service_coordinates.csv')

In [27]:
calls.head()

,Unnamed: 0,callNumber,callDateTime,priority,district,description,incidentLocation,location
0,0,P151941002,2015-07-13 10:41:00,Medium,CD,SEE TEXT,0 N CALVERT ST,"(39.2899299,-76.6123462)"
1,1,P151941003,2015-07-13 10:47:00,Medium,CD,911/NO VOICE,600 E FAYETTE ST,"(39.2906737,-76.6071600)"
2,2,P151941004,2015-07-13 10:42:00,Medium,CD,911/NO VOICE,200 E BALTIMORE ST,"(39.2898910,-76.6120720)"
3,3,P151941005,2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,800 PARK AV,"(39.2985163,-76.6184754)"
4,4,P151941006,2015-07-13 10:46:00,Medium,SW,AUTO THEFT,3500 CLIFTON AV,"(39.3112130,-76.6763150)"