In [1]:
import pandas as pd
import numpy as np

In [2]:
calls = pd.read_csv('911_calls_for_service.csv')
calls.drop('Unnamed: 0',axis=1, inplace=True)
calls_cord = pd.read_csv('911_calls_for_service_coordinates.csv')
calls_cord.drop('Unnamed: 0',axis=1, inplace=True)
calls_pr = pd.read_csv('911_calls_for_service_priority.csv')
calls_pr.drop('Unnamed: 0',axis=1, inplace=True)
calls_desc = pd.read_csv('911_calls_for_service_description.csv')
calls_desc.drop('Unnamed: 0',axis=1, inplace=True)

In [3]:
calls.iloc[[0,-1]]

,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
2799913,2017-08-21 11:49:00,Medium,WD,DISORDERLY,P172331043,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [4]:
len(calls)

2799914

In [5]:
calls_cord.iloc[[0,-1]]

,callNumber,callDateTime,priority,district,description,incidentLocation,location
0,P151941002,2015-07-13 10:41:00,Medium,CD,SEE TEXT,0 N CALVERT ST,"(39.2899299,-76.6123462)"
2799913,P172331043,2017-08-21 11:49:00,Medium,WD,DISORDERLY,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [6]:
len(calls_cord)

2799914

In [7]:
calls_pr.iloc[[0,-1]]

,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
2799913,2017-08-21 11:49:00,Medium,WD,DISORDERLY,P172331043,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [8]:
len(calls_pr)

2799914

In [9]:
calls_desc.iloc[[0,-1]]

,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
2799913,2017-08-21 11:49:00,Medium,WD,DISORDERLY,P172331043,2700 W FRANKLIN ST,"(39.2934320,-76.6614790)"

In [10]:
len(calls_desc)

2799914

In [11]:
calls.priority.isnull().sum()

6655

In [12]:
calls.priority = calls_pr.priority.copy()

In [13]:
calls.priority.isnull().sum()

0

In [14]:
calls.loc[(calls.location == '(,)') | (calls.location == '('),'location'].count()

82532

In [15]:
calls.location = calls_cord.location.copy()

In [16]:
calls.loc[(calls.location == '(,)') | (calls.location == '('),'location'].count()

0

In [17]:
calls.location.isnull().value_counts()

False    2791330
True        8584
Name: location, dtype: int64

In [18]:
calls.description = calls_desc.description.copy()

In [19]:
calls[calls.description.str.contains('TEST',case=False)].count()

callDateTime        54
priority            54
district            54
description         54
callNumber          54
incidentLocation    54
location            54
dtype: int64

In [20]:
calls[calls.description.str.contains('TEST',case=False)].head()

,callDateTime,priority,district,description,callNumber,incidentLocation,location
25036,2015-07-21 10:20:00,Low,CD,TEST CALL,P152020909,600 E FAYETTE ST,"(39.2906737,-76.6071600)"
261442,2016-01-04 16:04:00,Low,SE,TEST CALL,P160041681,1500 S CLINTON ST,"(39.2754291,-76.5692642)"
460740,2016-03-30 01:34:00,Low,SD,TEST CALL,P160900188,400 W HAMBURG ST,"(39.2789419,-76.6207863)"
497993,2015-10-06 11:29:00,Low,SS,TEST CALL,P152791111,600 E FAYETTE ST,"(39.2906673,-76.6071593)"
694664,2015-09-16 12:21:00,Low,SS,TEST CALL,P152591290,600 E FAYETTE ST,"(39.2906737,-76.6071600)"

In [21]:
calls.drop(calls[calls.description.str.contains('TEST',case=False) == True].index,inplace=True)

In [22]:
calls[calls.description.str.contains('TEST',case=False)].count()

callDateTime        0
priority            0
district            0
description         0
callNumber          0
incidentLocation    0
location            0
dtype: int64

In [23]:
calls.isnull().sum()

callDateTime           0
priority               0
district               0
description            0
callNumber             0
incidentLocation       0
location            8584
dtype: int64

In [24]:
len(calls)

2799860

In [25]:
calls.set_index('callDateTime',inplace=True)

In [26]:
calls.head()

,priority,district,description,callNumber,incidentLocation,location
callDateTime,,,,,,
2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
2015-07-13 10:47:00,Medium,CD,911 NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)"
2015-07-13 10:42:00,Medium,CD,911 NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)"
2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)"
2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)"

In [27]:
def set_lat(x):
    try:
        return float(x.split(',')[0][1:])
    except:
        return np.nan
    
def set_lon(x):
    try:
        return float(x.split(',')[1][:-1])
    except:
        return np.nan

In [28]:
calls['lat'] = calls['location'].apply(set_lat)

In [29]:
calls['lon'] = calls['location'].apply(set_lon)

In [30]:
calls.head()

,priority,district,description,callNumber,incidentLocation,location,lat,lon
callDateTime,,,,,,,,
2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)",39.289930,-76.612346
2015-07-13 10:47:00,Medium,CD,911 NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)",39.290674,-76.607160
2015-07-13 10:42:00,Medium,CD,911 NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)",39.289891,-76.612072
2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)",39.298516,-76.618475
2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)",39.311213,-76.676315

In [31]:
calls.to_csv('911_calls_for_service_clean_final.csv')

In [32]:
calls = pd.read_csv('911_calls_for_service_clean_final.csv',index_col='callDateTime',parse_dates=True)
calls.head()

,priority,district,description,callNumber,incidentLocation,location,lat,lon
callDateTime,,,,,,,,
2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)",39.289930,-76.612346
2015-07-13 10:47:00,Medium,CD,911 NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)",39.290674,-76.607160
2015-07-13 10:42:00,Medium,CD,911 NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)",39.289891,-76.612072
2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)",39.298516,-76.618475
2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)",39.311213,-76.676315

In [33]:
type(calls.index)

pandas.core.indexes.datetimes.DatetimeIndex